*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    hyphens: auto;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: "Century Gothic";
}

.wrapper {
    min-height: 100%;
}

._container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 50px 20px;
}

.parallax {
    min-height: 100vh;
}

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__container {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.parallax_label {
    color: white;
    display: flex;
    font-size: 18px;
    letter-spacing: 6px;
    margin: 0px 0px 30px 0px;
    align-items: center;   
}
.parallax_label::before{
    flex: 0 0 70px ;
    content: "";
    margin: 0px 30px 0px 0px;
    background-color: white;
    height: 1px;
}

.parallax_title {
    font-size: 88px;
}
.parallax__images {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;

}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    top: 0;
    left: 0;
}
.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

}

.images-parallax__clouds {
    background: url(../img/1.png) top / cover no-repeat;
    top: 10%;

}
.images-parallax__mountains {
    background: url(../img/3.png) top / cover no-repeat;
    top: -10%;
    z-index: 2;

}
.images-parallax__human {
    background: url(../img/2.png) top / cover no-repeat;
    top: 0%;
    z-index: 3;
}

@media (max-aspect-ratio: 3/2){
    .images-parallax__human{
        background-position: 20% top;
    }
}

.content {
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template:100px 1fr 20px/ 50px 1fr 1fr 1fr 50px;
    
}

.content::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgb(46, 46, 46, 0) 5%, #0b1d26 100% );
}

.content__title {
    font-size: 35px;
    margin: 0px 0px 0px 0px;
    grid-row: 1/2;
    grid-column: 2/5;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}

.content__video{
    grid-column: 2/5;
    grid-row: 2/3;
    z-index: 8;
    justify-items: center;
}




.vjs-chat{
    position: absolute;
    height: 100%;
    z-index: 20;
    background-color: #fff;
    bottom: 0;
    right: 0;
    top: 0;
    justify-self: end;
    display: grid;
    grid-template: 1fr auto/ 1fr;
    background-color: rgba(255, 255, 255, 0);

}



.pinned {
    background: rgba(0, 111, 126, 0);
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr / auto 1fr;
    align-self: flex-start;
    max-width: 100%;
    z-index: 50;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.137);
    backdrop-filter: blur(5px);
   
}


.pinnedMess{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template: auto auto / 1fr;
    border-left: 2px solid rgb(255, 0, 0);
    margin: 10px;
    padding: 5px;
}

.pinnedIco{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
}

.pinnedText{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.pinnedName{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
    

.chat{
    grid-column: 1/2;
    grid-row: 1/2;
    background: rgba(0, 0, 0, 0); 
	overflow-y: scroll; 
    max-width: 100%;
    margin-bottom: 10px;   
    border-radius: 5px; 
}

.chat::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 255, 0);
}
  
.chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff1d1d; 
}
  
.chat::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9fd5e;
}



.message{
    grid-row: 1/2;
    grid-column: 2/3;
    font-family: "arial";
    width: 100%;
    resize: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
    align-self: center;
    margin: 5px;
    outline: none;
    color: white;
   
}


.message::-webkit-scrollbar{
    width: 0px;
}

.chat_messages{
	display: grid;
	grid-template: auto 1fr / auto 1fr;
	margin-bottom: 20px;
    margin-right: 20px;
}

.admin{
    background-color: aqua;
    border-radius: 5px;
}


.user__login{
	font-family: "Century Gothic";
	font-style: italic;
	height: 30px;
	font-size: 20px;
	grid-column: 2/3;
	grid-row: 1/2;
	font-weight: bold;
    margin: 0px 0px 0px 5px;
}

.user__message{
	font-family: "Century Gothic";
	font-size: 15px;
	grid-column: 2/3;
	grid-row: 2/3;
    overflow-wrap: break-word;
    margin: 0px 0px 0px 5px;

}

.user__time {
	grid-column: 2/3;
	grid-row: 3/4;
    font-size: 10px;
	font-style: italic;
    min-width: 100px;
}



.sendMsg{
    display: grid;
    grid-template: 1fr /1fr auto;
    margin-bottom: 5px;
    
}

.msgWrapper{
    grid-column: 1/2;
    display: grid;
    grid-template: 1fr /50px 1fr;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.avatarIco{
    grid-column: 1/2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-image: url(media/avatar.png);
}

.like{
    grid-row: 1/2;
    grid-column: 3/4;
    width: 50px;
    height: 50px;    
    justify-self: center;
    align-self: flex-end;

}

.send:hover{
    width: 80%;
    height:80%;
    font-size: larger;
    transition: 0.2s;
}

.send:active{
    width: 60%;
    height:60%;
    font-size: smaller;
    transition: 0.2s;
}


.avatar{
	width: 30px;
	height: 30px;
	grid-column: 1/2;
	grid-row: 1/4;
	justify-self: center;
	align-self: top;
    border-radius: 50%;
	
}



.vjs-icon-custombutton{
    background-color: aqua;
    background-image: url(media/icon.svg);
}


@media (max-width: 479px) {
    .parallax_title {
        font-size: 36px;
    }
    .parallax_label::before {
        flex: 0 0 50px;
        margin: 0px 10px 0px 0px
    }
    
}


@media (max-width: 768px) {
    .vjs-chat{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .vjs-chat{
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .vjs-chat{
        width: 30%;
    }
}


